    #user{
      display: block;
      margin: 10px;
      border-radius: 10px;
      padding: 10px;
      width: 100%;
    }

    #comment{
      display: block;
      margin-top: 5px;
      margin-right: 10px;
      margin-left: 10px;
      border-radius: 10px;
      padding: 20px;
      width: 100%;
    }

    .submit{
      border: 0.5 solid;
      border-radius: 5px;
      padding: 5px;
      background-color:blanchedalmond;
      cursor: pointer;
      margin-left: 15px;
    }
    .submit:hover{
      background-color: rgb(255, 201, 120);
      transition: 0.2s ease-in-out;
      transform: scale(1.07);
      border-color: gray;
    }

    
    #commentsDisplay div{
      border: 0.5px solid;
      padding: 12px;
      margin: 8px;
    }

    #commentsDisplay div:nth-child(odd){
      background-color: aliceblue;
      border-radius: 15px;
      padding: 15px;
      margin: 10px;
      position: relative;
    }
    #commentsDisplay div:nth-child(even){
      background-color: lightyellow;
      border-radius: 15px;
      padding: 15px;
      margin: 10px;
      position: relative;
    }

    #commentsDisplay div:nth-child(odd):hover{
      /* box-shadow: 10px 8px 0px rgb(191 219 254); */
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      transition: box-shadow 0.2s ease-in;

    }
    #commentsDisplay div:nth-child(even):hover{
      /* box-shadow: -10px -8px 0px rgb(167 243 208); */
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      transition: box-shadow 0.2s ease-in;
    }

    #comment-form{
      margin: 0 auto;
      max-width: 600px;
    }

    .latest-container{
      margin: 0 auto;
      align-items:center ;
      justify-content:center ;
      place-items: center;
    }
/* 
    .button{
      background-color: rgb(252, 76, 76);
    } */


  .submit {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.submit:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.submit:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.submit:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.deleteBtn {
  align-items: center;
  background-color: #FFE7E7;
  position:absolute;
  top: 10px;
  right: 10px;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  margin: auto;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.deleteBtn:active,
.deleteBtn:hover,
.deleteBtn:focus {
  outline: 0;
}


.deleteBtn:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.deleteBtn:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.deleteBtn:hover,
.deleteBtn:focus:hover,
.deleteBtn:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}
